*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F05454;
}
nav{
    display: flex;
    
}
#lg{
    height: 80px;
    align-items: center;
    
}
.ig{
    margin: 10px;
}
#git{
    text-decoration: none;
    
    
}
#search-box{
    width: 25rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    box-shadow: 1px 1px 5px 0.7px;
    margin: 30px;
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 33px;
}
nav a{
    text-decoration: none;
    padding: 6px 10px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
nav a:hover{
    border-bottom: 2px solid black;
    transform: 0.5px ease;
}
.content{
    display: flex;
    margin: 12px;
}
.pro1{
    display: block;
    width: 15rem;
    height: 13rem;
    background-color: #fff;
    color: rgb(61, 59, 59);
}
#hed4{
    padding: 7px 8px 0px 10px;
    text-align: left;

}
#pr{
    text-align: justify;
    word-spacing: 1px;
    font-size: 13px;
    padding: 7px 10px 0px 10px;
}